<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="UnitTest" verbose="1" parallel="methods">
    <test name="test">
        <groups>
            <run>
                <include name="doubleDivision"/>
                <include name="longSum"/>
            </run>
        </groups>
        <classes>
            <class name="UnitTest.SumTest"/>
            <class name="UnitTest.BaseTest"/>
            <class name="UnitTest.SubTest"/>
            <class name="UnitTest.DivTest"/>
        </classes>
    </test>
</suite>