<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="UnitTest" verbose="1" parallel="methods">
    <test name="test">
        <groups>
            <run>
                <include name="double"/>
                <include name="long"/>
            </run>
        </groups>
        <classes>
            <class name="UnitTest.Double.CosDouble"/>
            <class name="UnitTest.Double.CtgDouble"/>
            <class name="UnitTest.Double.DivDouble"/>
            <class name="UnitTest.Double.MultDouble"/>
            <class name="UnitTest.Double.PowDouble"/>
            <class name="UnitTest.Double.SinDouble"/>
            <class name="UnitTest.Double.SqrtDouble"/>
            <class name="UnitTest.Double.SubDouble"/>
            <class name="UnitTest.Double.SumDouble"/>
            <class name="UnitTest.Double.TgDouble"/>
        </classes>
    </test>
</suite>